[package]
name = "cli"
version = "0.1.0"
edition = "2024"

[dependencies]
chrono = "0.4.43"
clap = { version = "4.5.59", features = ["derive"] }
client = { version = "0.1.0", path = "../client" }
tokio = "1.49.0"
